//Primary
$blue: hsl(223, 87%, 63%);
$black: #000;
$white: #fff;

//Secondary
$paleBlue: hsl(223, 100%, 88%);
$lightRed: hsl(354, 100%, 66%);

//Neutral
$gray: hsl(0, 0%, 59%);
$darkBlue: hsl(209, 33%, 12%);
$lightGray: #ccc;
